# Import Required Libraries
Import pandas and other necessary libraries for data analysis.

In [ ]:
import pandas as pd  # Importing pandas for data manipulation and analysis
import numpy as np  # Importing numpy for numerical operations
import matplotlib.pyplot as plt  # Importing matplotlib for data visualization
import seaborn as sns  # Importing seaborn for advanced data visualization

# Setting visualization styles
sns.set(style="whitegrid")

# Load the Dataset
Load the dataset into a pandas DataFrame using the file path provided.

In [2]:
# Load the dataset into a pandas DataFrame
file_path = r"c:\Users\mario\OneDrive\Desktop\anaconda\foodhub_orderds.csv"  # File path to the dataset
df = pd.read_csv(file_path)  # Reading the CSV file into a DataFrame

# Display the first few rows to confirm successful loading
df.head()

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24

# Inspect the Dataset with df.info()
Use the df.info() method to display a concise summary of the DataFrame, including column names, non-null counts, and data types.

In [3]:
# Inspect the Dataset with df.info()

# Use the df.info() method to display a concise summary of the DataFrame
df.info()  # This will show column names, non-null counts, and data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               1898 non-null   int64
 1   customer_id            1898 non-null   int64
 2   restaurant_name        1898 non-null   object
 3   cuisine_type           1898 non-null   object
 4   cost_of_the_order      1898 non-null   float64
 5   day_of_the_week        1898 non-null   object
 6   rating                 1898 non-null   object
 7   food_preparation_time  1898 non-null   int64
 8   delivery_time          1898 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 133.6+ KB